.client {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $clr3;
  padding: 0 $sp-sm;
  min-width: $btn-size-sm;
  min-height: $btn-size-sm;
}

.client:hover,
.client.invalid,
.client.save-errored,
.client.delete-errored,
.client.deleting,
.client.pending,
.client.editing {
  .client-action {
    visibility: visible;
  }
}

.client:hover {
  background-color: $clr7;
}

.client.frozen {
  .client-title {
    cursor: default;
  }

  &:hover {
    background-color: $clr3;
  }
}

.client.invalid,
.client.save-errored {
  background-color: $clr9;
}

.client.deleting,
.client.delete-errored {
  background-color: $clr16;
}

.client.pending {
  background-color: $clr11;
}

.client.editing {
  background-color: $clr10;
  border-bottom: 2px solid $clr3;

  &:hover {
    background-color: $clr10;
  }
}

.client-actions {
  display: flex;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
}

.client-action {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  text-indent: -9999px;
  white-space: nowrap;
}

.client-action-retry {
  background-color: #c62828;
  mask: url(/assets/images/offline.svg) center / 16px no-repeat;
  -webkit-mask: url(/assets/images/offline.svg) center / 16px no-repeat;

  &:hover {
    background-color: black;
    mask: url(/assets/images/refresh.svg) center / 16px no-repeat;
    -webkit-mask: url(/assets/images/refresh.svg) center / 16px no-repeat;
  }
}

.client-action-edit-invalid {
  background-image: url('/assets/images/warn.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}

.client-action-revert,
.client-action-delete {
  background-color: black;

  &:hover {
    background-color: $clr20;
  }
}

.client-action-revert {
  mask: url(/assets/images/revert.svg) center / 16px no-repeat;
  -webkit-mask: url(/assets/images/revert.svg) center / 16px no-repeat;
}

.client-action-delete {
  mask: url(/assets/images/trash.svg) center / 16px no-repeat;
  -webkit-mask: url(/assets/images/trash.svg) center / 16px no-repeat;
}

.client-title {
  display: flex;
  align-items: center;
  width: 100%;
  color: $clr4;
}

.client-title-txt {
  display: flex;
  align-items: center;
  font-size: $fs-lg;
  font-weight: bold;
  white-space: nowrap;
}

.client-create-plus {
  font-weight: bold;
  font-size: $fs-xl;
  margin-right: $sp-xs;
}

.client-create-plus-txt {
  font-style: italic;
}
