.login {
  width: 100%;
}

.login-title {
  font-size: $fs-xxl;
  font-weight: bold;
  padding: $sp 0;
}

.login-item {
  display: block;
  line-height: 70px;
  padding-left: $sp;
  border-bottom: 1px solid $clr6;

  &:hover {
    background-color: $clr7;
  }

  &.errored {
    background-color: $clr9;
  }
}

.login-item-label {
  display: inline-block;
  width: 50%;
}

.login-item-password {
  padding-left: $sp;
}