.notif {
  position: absolute;
  right: $sp;
  max-width: 35vw;
  top: 50px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: $sp-xs;
  z-index: 10;
  background-color: $clr10;
  padding: $sp-xs 0;
  color: $clr5;
  box-sizing: border-box;

  &__header {
    display: flex;
    align-items: center;
    padding: 0 $sp-sm;
    border-bottom: 1px solid $clr6;
    box-sizing: border-box;
  }

  &__header-title {
    flex: 1;
    text-align: center;
    font-weight: bold;
  }

  &__header-close {
    font-size: $fs-xxl;

    cursor: pointer;
    min-width: $btn-size;
    min-height: $btn-size;
  }

  &__list {
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    overflow-y: auto;
  }

  &__empty {
    display: flex;
    gap: $sp;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:before {
      content: ' ';
      width: 40px;
      height: 40px;
      background: $clr5;
      mask: url(/assets/images/bell.svg) center / 32px no-repeat;
      -webkit-mask: url(/assets/images/bell.svg) center / 32px no-repeat;
    }
    padding: $sp-lg;
  }

  &__empty-sub {
    font-size: $fs-sm;
    font-style: italic;
  }

  &__item {
    display: flex;
    gap: $sp;
    padding: $sp-lg $sp-sm $sp-lg $sp;
    border-bottom: 1px solid $clr6;
    border-left: 5px solid $clr10;

    &:before {
      content: ' ';
      display: block;
      width: 32px;
      background-color: $clr20;
      mask: url(/assets/images/info.svg) center / 16px no-repeat;
      -webkit-mask: url(/assets/images/info.svg) center / 16px no-repeat;
    }

    &:hover {
      background-color: $clr1;
    }

    &--new {
      border-left: 5px solid $clr19;
    }

    &--warning {
      &:before {
        background-color: transparent;
        mask: initial;
        -webkit-mask: initial;
        background-image: url('/assets/images/warn.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px;
      }
    }
  }

  &__content {
    flex: 1;
  }

  &__title {
    font-weight: bold;
    margin-bottom: $sp-xs;
  }

  &__link {
    display: block;
    margin: $sp-sm;
    color: $clr21;
    cursor: pointer;
  }

  &__date {
    margin-top: $sp-xxs;
    color: $clr8;
  }

  &__delete {
    text-indent: -9999px;
    white-space: nowrap;
    background-color: black;
    mask: url(/assets/images/trash.svg) center / 16px no-repeat;
    -webkit-mask: url(/assets/images/trash.svg) center / 16px no-repeat;
    cursor: pointer;
    min-width: $btn-size;
    min-height: $btn-size;

    &:hover {
      background-color: $clr20;
    }
  }
}
