.project-group-list-title {
  font-size: $fs-xxl;
  font-weight: bold;
  padding: $sp 0;
}

.project-group.deleting {
  background-color: $clr9;
}

.project {
  position: relative;
  padding: $sp-sm;
  line-height: $btn-size;
}

.project:hover,
.project.invalid,
.project.errored,
.project.deleting,
.project.pending,
.project.editing {
  .project-action {
    visibility: visible;
  }
}

.project:hover {
  background-color: $clr7;
}

.project.invalid,
.project.errored,
.project.deleting {
  background-color: $clr9;
}

.project.pending {
  background-color: $clr11;
}

.project.editing {
  background-color: $clr10;

  &:hover {
    background-color: $clr10;
  }
}

.project-actions {
  display: flex;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-100%, -50%);
}

.project-action {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  text-indent: -9999px;
  white-space: nowrap;
}

.project-action-retry {
  background-color: #c62828;
  mask: url(/assets/images/offline.svg) center / 16px no-repeat;
  -webkit-mask: url(/assets/images/offline.svg) center / 16px no-repeat;

  &:hover {
    background-color: black;
    mask: url(/assets/images/refresh.svg) center / 16px no-repeat;
    -webkit-mask: url(/assets/images/refresh.svg) center / 16px no-repeat;
  }
}

.project-action-edit-invalid {
  background-image: url('/assets/images/warn.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}

.project-action-revert,
.project-action-delete {
  background-color: black;

  &:hover {
    background-color: $clr20;
  }
}

.project-action-revert {
  mask: url(/assets/images/revert.svg) center / 16px no-repeat;
  -webkit-mask: url(/assets/images/revert.svg) center / 16px no-repeat;
}

.project-action-delete {
  mask: url(/assets/images/trash.svg) center / 16px no-repeat;
  -webkit-mask: url(/assets/images/trash.svg) center / 16px no-repeat;
}

.project-edit-name {
  width: 100%;
}

.project-create {
  display: flex;
  align-items: center;
  font-style: italic;
}

.project-create-plus {
  font-weight: bold;
  font-size: $fs-xl;
  margin-right: $sp-xs;
}
