@use 'sass:math';

/* fonts */
$font-family: 'Lucida Grande', Arial, sans-serif;
$fs-xs: 0.8em;
$fs-sm: 0.9em;
$fs-lg: 1.1em;
$fs-xl: 1.2em;
$fs-xxl: 1.5em;

/* colors */
$clr1: #fbfbfb;
$clr2: #333333;
$clr3: #e1e1e1;
$clr4: #555555;
$clr5: #666666;
$clr6: #dddddd;
$clr7: #f1f1f1;
$clr8: #888888;
$clr9: #ffeeee; /* lighter red */
$clr10: #ffffff; /* full white */
$clr11: #e4f7e4; /* light green */
$clr12: #bbbbbb;
$clr13: #4bc800;
$clr14: #48c100; /* flashy green */
$clr15: #c74b00; /* flashy red */
$clr16: #ffcaca; /* light red */
$clr17: #ffdc9c; /* light yellow */

/* spacings */
$sp-lg: 30px;
$sp: 20px;
$sp-sm: math.div($sp, 2);
$sp-xs: math.div($sp, 3);
$sp-xxs: math.div($sp, 4);

/* sizes */
$btn-size: 36px;
$btn-size-sm: 30px;
