<section class="entry-group-list">
  {{#each this.groups as |group|}}
    <section class="entry-group" data-test-project-group>
      <header class="entry-group-header with-actions">
        <h2 class="entry-group-header-title" data-test-project-group-name>
          {{if group.project.name group.project.name "No project"}}
        </h2>
        <div
          class="entry-group-header-duration"
          data-test-project-group-duration
        >{{format-duration group.durationInSeconds}}</div>
        <div class="entry-group-header-actions">
          <button
            type="button"
            class="entry-group-header-action no-print touch"
          >CSV</button>
        </div>
      </header>
      <ul class="entry-group-item-list">
        {{#each group.entries as |entry|}}
          <ShowEntry @entry={{entry}} @showDate="true" />
        {{/each}}
      </ul>
    </section>
  {{/each}}
</section>