<li class="project">{{! TODO class name bindings }}
  <div data-test-project>
    <div class="project-actions">
    </div>
    <div class="project-name touch" data-test-project-name>
      {{this.project.name}}
    </div>
  </div>
</li>