<section class="client">{{! TODO class name bindings }}
  <div class="client-actions">
  </div>
  <h2 class="client-title touch" data-test-client>
    <span
      class="client-title-txt"
      data-test-client-name
    >{{this.client.name}}</span>
  </h2>
</section>