<div>
  <span>This week</span>
  <span data-test-user-week-duration>{{format-duration this.weekEntriesDuration}}</span>
</div>
<div>
  <span>This month</span>
  <span data-test-user-month-duration>{{format-duration this.monthEntriesDuration}}</span>
</div>
{{yield}}
