<section class="user-summary">
  <div class="user-summary__section">
    <span class="user-summary__label">This week</span>
    <span class="user-summary__value" data-test-user-week-duration>
      {{format-duration this.weekEntriesDuration}}
    </span>
  </div>
  <div class="user-summary__section">
    <span class="user-summary__label">This month</span>
    <span class="user-summary__value" data-test-user-month-duration>
      {{format-duration this.monthEntriesDuration}}
    </span>
  </div>
</section>
