.filters {
  display: flex;
  align-items: baseline;

  &__item {
    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
    }
  }

  &__user {
    width: 20%;
  }

  &__client {
    width: 20%;
  }

  &__project {
    width: 20%;
  }

  &__from {
    margin-left: auto;
  }

  &__query {
    width: 100%;
  }
}
