.filter {
  $self: &;

  padding: 0 $sp-sm $sp $sp-sm;

  &__header {
    display: flex;
    align-items: baseline;
    position: relative;
    padding: 0 $sp-sm;

    #{$self}:hover & {
      background-color: $clr10;
    }
  }

  &__title {
    padding: $sp-sm 0;
    margin-right: $sp-xs;
    font-size: $fs-lg;
    display: inline-block;
    color: $clr5;
  }
}
