.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: $btn-size;
  background-color: $clr2;
  color: $clr3;

  &__brand {
    margin-right: $sp-lg;

    padding: 0 $sp-sm 0 $sp-lg;
    font-size: $fs-xxl;
    font-weight: bold;
    line-height: $fs-xxl;
  }

  &__aside {
    margin-left: auto;

    display: flex;
    align-items: center;
  }

  &__aside-menu {
    margin-left: 100px;
  }
}
