.project {
  $self: &;

  position: relative;
  padding: $sp-sm;
  line-height: $btn-size;

  &:hover {
    background-color: $clr7;
  }

  &--invalid {
    background-color: $clr9;

    &:hover {
      background-color: $clr9;
    }
  }

  &--save-errored {
    background-color: $clr9;

    &:hover {
      background-color: $clr9;
    }
  }

  &--deleting {
    background-color: $clr9;

    &:hover {
      background-color: $clr9;
    }
  }

  &--delete-errored {
    background-color: $clr9;

    &:hover {
      background-color: $clr9;
    }
  }

  &--pending {
    background-color: $clr11;

    &:hover {
      background-color: $clr11;
    }
  }

  &--editing {
    background-color: $clr10;

    &:hover {
      background-color: $clr10;
    }
  }

  &__actions {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);

    display: flex;
  }

  &__action {
    @include touch;

    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    text-indent: -9999px;
    white-space: nowrap;

    #{$self}:hover &,
    #{$self}--invalid &,
    #{$self}--save-errored &,
    #{$self}--delete-errored &,
    #{$self}--deleting &,
    #{$self}--pending &,
    #{$self}--editing & {
      visibility: visible;
    }

    &--retry {
      background-color: #c62828;
      mask: url(/assets/images/offline.svg) center / 16px no-repeat;
      -webkit-mask: url(/assets/images/offline.svg) center / 16px no-repeat;

      &:hover {
        background-color: black;
        mask: url(/assets/images/refresh.svg) center / 16px no-repeat;
        -webkit-mask: url(/assets/images/refresh.svg) center / 16px no-repeat;
      }
    }

    &--edit-invalid {
      background-image: url('/assets/images/warn.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px;
    }

    &--revert {
      mask: url(/assets/images/revert.svg) center / 16px no-repeat;
      -webkit-mask: url(/assets/images/revert.svg) center / 16px no-repeat;
      background-color: black;

      &:hover {
        background-color: $clr20;
      }
    }

    &--delete {
      mask: url(/assets/images/trash.svg) center / 16px no-repeat;
      -webkit-mask: url(/assets/images/trash.svg) center / 16px no-repeat;
      background-color: black;

      &:hover {
        background-color: $clr20;
      }
    }
  }

  &__title-plus {
    margin-right: $sp-xs;

    font-weight: bold;
    font-size: $fs-xl;
  }

  &__title-input {
    @include text-input;

    width: 100%;
  }

  &__title {
    @include touch;

    &--italic {
      font-style: italic;
    }
  }
}
