{{page-title "Teamwork"}}

<div class="page">
  <h1 class="page__title">Teamwork</h1>

  <h2 class="page__subtitle">Domains</h2>

  <ul class="teamwork-domain-list">
    {{#each this.model as |domain|}}
      <Teamwork::ShowDomain @domain={{domain}} />
    {{/each}}
  </ul>
</div>