{{page-title "Tactic"}}

<header>
  <div>
    <h1>Tactic</h1>
    {{#if this.isAuthenticated}}
      <LinkTo @route="login" data-test-login-link>@ {{this.currentUserName}}</LinkTo>
    {{/if}}
  </div>

  {{#if this.isAuthenticated}}
    <nav>
      <section>
        <LinkTo @route="index" data-test-index-link>Timer</LinkTo>
      </section>
      <UserSummary @weekEntries={{this.weekEntries}} />
    </nav>
  {{/if}}
</header>

<div>
  {{outlet}}
</div>
