{{page-title "Tactic"}}

<header class="header it-header">
  <div class="header-brand-container">
    <h1 class="header-brand">Tactic</h1>
  </div>

</header>

<div class="app-content">
  {{outlet}}
</div>
