{{page-title "404 Not Found"}}

<div class="page page--not-found">
  <h1 class="page__title">
    4
    <img
      class="page__title-icon"
      src="/assets/images/timer.svg"
      alt="page not found"
    />
    4
  </h1>

  <section>
    <h2 class="page__subtitle">Page Not Found</h2>

    <p class="page__description">
      This is not the page you are looking for.
      <br /><br />
      You'll probably want to go
      <LinkTo class="link" @route="index">back to work</LinkTo>.
    </p>
  </section>

</div>